package ${codeConfig.packageName};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.Import;
import org.springframework.context.annotation.ImportResource;
import wang.wangby.web.config.WebAutoConfiguration;

@SpringBootApplication
@ImportResource({"classpath:${codeConfig.appName}-consumer.xml"})
@Import({WebAutoConfiguration.class})
public class ${codeConfig.upAppName}ConsumerApp {

    public static void main(String args[]) throws InterruptedException {
        SpringApplication.run(SpringBootConsumer.class, args);
    }
}
