<table class="form">
    <tr>
        <td width="20%">最大持仓</td>
        <td width="80%">
            <input id="maxHold" value="${marketConfig.maxHold}">
        </td>
    </tr>
    <tr>
        <td>每单数量</td>
        <td>
            <input id="quantity" value="${marketConfig.quantity}">
        </td>
    </tr>
    <tr>
        <td >重新挂单价</td>
        <td >
            <input id="buyCancel" value="${marketConfig.buyCancel}">
        </td>

    </tr>
    <tr>
        <td >买入减价</td>
        <td >
            <input id="buySubtract" value="${marketConfig.buySubtract}">
        </td>
    </tr>
    <tr>
        <td >卖出加价</td>
        <td >
            <input id="sellPlus" value="${marketConfig.sellPlus}">
        </td>
    </tr>

    <tr>
        <td>低于多少持仓</td>
        <td>
            <input id="ignoreMin" value="${marketConfig.ignoreMin}">
        </td>
    </tr>
    <tr>
        <td>小仓位买单</td>
        <td>
            <input id="minQuantity" value="${marketConfig.minQuantity}">
        </td>
    </tr>

    <tr>
        <td colspan="6">
            <button class="btn-success" onclick="updateConfig()">更新配置</button>
        </td>
    </tr>

</table>

<script>
    function updateConfig(){
    var param="1=1";
    $("input").each(function(idx,el){
        var id=el.id;
        if(id&&el.value){
            param+="&"+id+"="+el.value
        }
    })
    ajaxUtil.json("$path/updateConfig",param,function(data){
        var json=utils.jsonToStr(data)
        json="<pre>"+json+"</pre>";
        dialog.pop("更新后配置",json,function(){
               self.location.reload();
        })
    })
}

</script>