my:
  web:
    index:
      title: "${codeConfig.menuName}"
      indexContentUrl: ""
      ignore-menus: ["工具箱"]

server:
   port: ${codeConfig.serverPort}

spring:
  datasource:
    username: ${codeConfig.datasource.username}
    password: ${codeConfig.datasource.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${codeConfig.datasource.url}
    druid:
      max-wait: 3000
  application:
    name: ${codeConfig.appName}