
<table class="form">
    <tr>
        <td width="10%">持仓</td>
        <td width="40%" align="left"><span id="hold">${traceVo.hold}</span></td>
        <td width="10%">钱包</td>
        <td width="40%" align="left"><span id="wallet">$traceVo.wallet</span></td>
    </tr>
    <tr>
        <td>当前价格</td>
        <td><span id="price">$traceVo.price</span></td>
        <td>基准价格</td>
        <td><span id="base">$traceVo.base</span></td>
    </tr>
    <tr>
        <td>买入</td>
        <td><span id="buy">$traceVo.buy</span></td>
        <td>卖出</td>
        <td><span id="sell">$traceVo.sell</span></td>
    </tr>
    <tr>
        <td>未实现利润</td>
        <td>$traceVo.profit</td>
        <td></td>
        <td></td>
    </tr>

</table>

<table class="list">
    <tr>
        <th>序号</th>
        <th>订单号</th>
        <th>时间</th>
        <th>方向</th>
        <th>数量</th>
        <th>买入</th>
        <th>卖出</th>
        <th>未实现利润</th>
        <th>升级价格</th>
    </tr>
    #foreach($order in $openOrders)
    <tr>
        <td>$velocityCount</td>
        <td>$order.billNo</td>
        <td>$order.createdAt</td>
        <td>$order.side.name</td>
        <td>$order.quantity</td>
        <td>$order.buyPrice</td>
        <td>$order.sellPrice</td>
        <td>$order.profit</td>
        <td>$order.upPrice</td>
    </tr>
    #end
</table>



<script>
    function doCancel(id){
        var pram="orderId="+id;
        ajaxUtil.json("$path/cancel","pram",function(data){
            alert(data);
        });
    }

var last;

timeOutFunction=function(){
    var hold=$("#hold").html();
    if(!hold){
        return;
    }
    ajaxUtil.json("$path/trace","",function(resp){
        resp=JSON.parse(resp)
        var trace=resp.data;
        $("#price").html(trace.price);
        $("#base").html(trace.base);
        $("#buy").html(trace.buy);
        $("#sell").html(trace.sell);
        $("#wallet").html(trace.wallet);
        document.title=trace.price;
        if(!last){
            last=trace;
            return;
        }
        if(last.hold!=trace.hold){
             self.location.reload();
        }
    });
}



</script>