package ${codeConfig.packageName};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.Import;
import wang.wangby.config.DaoAutoConfiguration;
import wang.wangby.web.config.WebAutoConfiguration;
import wang.wangby.web.tools.controller.config.ToolsAutoConfiguration;

@SpringBootApplication
@Import({WebAutoConfiguration.class, DaoAutoConfiguration.class, ToolsAutoConfiguration.class})
public class ${codeConfig.upAppName}App {
    public static void main(String[] args) {
        SpringApplication.run(${codeConfig.upAppName}App.class, args);
    }
}
