<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">盈亏汇总</div>
        <form id="searchForm" >
            <table class="form">
                <tr>
                    <td width="20%"> <input name="start" value="${start}"></td>
                    <td width="20%"> <input name="end" value="${end}"></td>
                    <td width="20%">
                    <select name="type">
                        <option>汇总</option>
                        <option value="hour" selected>小时</option>
                        <option value="day">天</option>
                    </select>
                    </td>
                    <td width="40%"></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btnQuery" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
        </button>
        <button id="btnDelete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>

    <table id="queryResult"></table>
</div>

<script>
    var tableDiv = 'queryResult';
    var searchForm = 'searchForm';

    tableEvents = {
        "click #btnOperate": function (e, value, row, index) {
            var data = "";
            ajaxUtil.json("$path/xxx", data, function (ret) {
                if (!ret.success) {
                    dialog.alert(ret.message);
                } else {
                    dialog.alert("操作成功");
                }
            })
        },
    };

    btnOperate = function (value, row, index) {
        return [
            '<button id="btnOperate" class="btn-small btn-primary">操作</button>'
        ].join("")
    };

    dateToString=function(value, row, index){
        if(!value){
            return "";
        }
        var d=new Date(value);
        return d.format("yyyy-MM-dd hh:mm:ss");
    }

    $(function () {
        var columns = [
            {checkbox: true},
            {field:'date',title:'时间',formatter:dateToString},
            {field:'account',title:'账户余额'},
            {field:'price',title:'当前价格'},
            {field:'exchangeCount',title:'成交笔数'},
            {field:'exchangeQuantity',title:'成交量'},
            {field:'profitAmount',title:'成交额'}
        ]
        tableUtil.init(tableDiv, columns, '', function (config) {
            config.uniqueId = 'id';
        });
        tableUtil.load('$path/query')
    });


    $("#btnDelete").click(function () {
        frame.delete('id', '$path/deleteById',function () {
            self.location.href="/?forward=$path/index"
        });
    });

    $("#btnQuery").click(function () {
        tableUtil.loadByForm("searchForm","$path/query");
    });



</script>
