<div id="main" style="width: 1200px;height:400px;"></div>

<table class="form">
    <tr>
        <td width="20%"> <input id="startTime" value="${start}"></td>
        <td width="20%"> <input id="endTime" value="${end}"></td>
        <td width="20%">
            <select id="type">
                <option>汇总</option>
                <option value="hour" selected>小时</option>
                <option value="day">天</option>
            </select>
        </td>
        <td width="40%">
            <button class="btn-success" onclick="doQuery()">查询</button>
        </td>
    </tr>
</table>

<script>
var myChart = echarts.init(document.getElementById('main'));

timeOutFunction=function(){
    var main=$("#main").html();
    if(!main){
        return;
    }
    updateProfit();
}
var i=-1;
function updateProfit(){
    i++;
    if(i%100!=0){
        return;
    }
    doQuery();
}

function doQuery(){
  var param="start="+$("#startTime").val();
  param+="&end="+$("#endTime").val();
  param+="&type="+$("#type").val();
  ajaxUtil.json("$path/data",param,function(data){
        var profitVo=JSON.parse(data)
        show(profitVo);
    })
}


function show(profitVo){
    option = {
        title: {
            text: '利润统计'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: profitVo.names
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: profitVo.times
        },
        yAxis: {
            type: 'value'
        },
        series:profitVo.data
    };
    myChart.setOption(option);
}
</script>