my:
  web:
    index:
      title: "${codeConfig.appName}"
      indexContentUrl: ""
    webfilter:
      permission: true
  datasource:
    permission:
      username: ${codeConfig.datasource.username}
      password: ${codeConfig.datasource.password}
      url: ${codeConfig.datasource.url}

server:
   port: ${codeConfig.serverPort}

spring:
  application:
    name: ${codeConfig.appName}

